/*
* Cart free shipping calculator progressbar
*/
.styler-before-cart-table .styler-cart-goal-wrapper {
    padding: 20px 20px 25px;
    margin-bottom: 30px;
    border: 2px solid var(--styler-gray);
    border-radius: var(--styler-border-radius);
}
.styler-before-cart-table .styler-cart-goal-wrapper.free-shipping-success {
    border-color: var(--styler-success);
}
.styler-header-mobile-content .styler-cart-goal-wrapper,
.styler-side-panel .styler-cart-goal-wrapper {
    margin-top: 20px;
}
.styler-free-shipping-progress .styler-progress-bar-wrap {
    position: relative;
    height: 6px;
    margin: 0 13px;
}

.styler-free-shipping-progress .styler-progress-bar-wrap:before {
    position: absolute;
    content: "";
    top: 0;
    left: -13px;
    right: -13px;
    height: 100%;
    border-radius: var(--styler-border-radius);
    background: var(--styler-gray-soft);
}

.styler-free-shipping-progress .styler-progress-bar:before {
    position: absolute;
    content: "";
    top: 0;
    left: -13px;
    right: -13px;
    height: 100%;
    border-radius: var(--styler-border-radius);
    background: var(--styler-yellow);
}

.styler-free-shipping-progress .styler-progress-bar {
    position: relative;
    border-radius: inherit;
    height: 100%;
    max-width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.styler-free-shipping-progress .styler-progress-value {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    background: #fff;
    border: 1px solid var(--styler-yellow);
    border-radius: 50%;
    font-size: 12px;
    width: 26px;
    height: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.styler-free-shipping-progress .styler-progress-value svg {
    width: 17px;
    height: 17px;
}

.styler-free-shipping-progress .styler-progress-value svg * {
    fill: var(--styler-yellow);
}

.free-shipping-success .styler-progress-bar:before {
    background: var(--styler-success);
}

.free-shipping-success .styler-progress-value svg * {
    fill: var(--styler-success);
}

.free-shipping-success .styler-progress-value{
    border-color: var(--styler-success);
}

.styler-cart-goal-text {
    font-size: 12px;
    margin-bottom: 15px;
    color: var(--styler-dark);
    font-weight: 500;
}

.styler-cart-goal-text .woocommerce-Price-amount.amount {
    color: var(--styler-primary);
    font-weight: 600;
}

.shakeY {
    -webkit-animation-name: shakeY;
    animation-name: shakeY;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

@-webkit-keyframes shakeY{
	0%,
	to{
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
	}
	10%,30%,50%,70%,90%{
		-webkit-transform:translate3d(0,-10px,0);
		transform:translate3d(0,-10px,0)
	}
	20%,40%,60%,80%{
		-webkit-transform:translate3d(0,10px,0);
		transform:translate3d(0,10px,0)
	}
}

@keyframes shakeY{
	0%,
	to{
		-webkit-transform:translateZ(0);
		transform:translateZ(0)
	}
	10%,30%,50%,70%,90%{
		-webkit-transform:translate3d(0,-10px,0);
		transform:translate3d(0,-10px,0)
	}
	20%,40%,60%,80%{
		-webkit-transform:translate3d(0,10px,0);
		transform:translate3d(0,10px,0)
	}
}
/* Cart free shipping calculator progressbar */
